.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 40px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
  height: 50px;
}

.links {
  display: flex;
  align-items: center;
}

.links a {
  color: #555;
  text-decoration: none;
  margin-right: 20px;
  font-size: 18px;
}

.links a:hover {
  color: #222;
}

.logoutBtn {
  color: #222;
  border: none;
  margin-bottom: 12px;
  border-radius: 2px;
  cursor: pointer;
  font-size: 11px;
}

.logoutBtn:hover {
  border: gray solid;
}
