.mainParent {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: auto;
}

.horizontalScroll {
  margin-top: 5%;
  /* overflow-x: hidden; */
  /* white-space: nowrap; */
  width: 100%;
}

.barrow {
  rotate: 180deg;
}

button img {
  width: 10em;
}

@media screen and (max-width: 768px) {
  .mainParent {
    flex-direction: column;
  }

  .horizontalScroll {
    margin-top: 2%;
    overflow-x: auto;
    white-space: nowrap;
  }

  button img {
    width: 5em;
  }
}
